[submodule "Andy-live/cheating-daddy"]
	path = Andy-live/cheating-daddy
	url = https://github.com/sohzm/cheating-daddy.git
[submodule "my-portfolio"]
	path = my-portfolio
	url = https://github.com/Dawngend/My-Portfolio.git
